<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>738238578752-gqr86jfh6os7ko96og54cseo42teuuvu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.738238578752-gqr86jfh6os7ko96og54cseo42teuuvu</string>
	<key>API_KEY</key>
	<string>AIzaSyC51In_1SuFg2pQI0zjFvaII0ZVAk2KK94</string>
	<key>GCM_SENDER_ID</key>
	<string>738238578752</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.info.Log-In</string>
	<key>PROJECT_ID</key>
	<string>log-in-cbeaf</string>
	<key>STORAGE_BUCKET</key>
	<string>log-in-cbeaf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:738238578752:ios:c79209cc9540957d275fa5</string>
</dict>
</plist>